#systemManageNav .layui-nav-item.layui-this{
      background-color: #f2f2f2 !important;
}

#idenManageContent div.input-group,
#origManageContent div.input-group{
	width:30%;
	margin-top: 1em;
} 

#idenManageContent div.input-group input.form-control,
#origManageContent div.input-group input.form-control{
	border-bottom-left-radius: 1.2em;
	border-top-left-radius: 1.2em;
}

#idenManageContent div.input-group .input-group-addon,
#origManageContent div.input-group .input-group-addon{
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	cursor: pointer;
	color: #fff;
	background-color: #1E9FFF;
}

#memberItems .badge:last-child{
	color: #fff;
	background-color:#1E9FFF;
}
#memberItems .badge,
#idenManageContent .badge,
#origManageContent .badge{
	font-weight: 500px;
	font-size: 12px;
	padding: 5px 12px;
	color: #1E9FFF;
	background-color:#fff;
	border:1px solid #1E9FFF;
	border-radius: 12px;
	margin-right: 5px;
	letter-spacing: 2px;
	cursor: pointer;
}

#scoreManageContent div.panel-body>div.row+div.row{
	margin-top: 15px;
}

#scoreManageContent .form-control[disabled]{
	background-color: #f5f5f5;
}

#scoreManageContent div.panel-body div.row .input-group-addon{
	background-color: #fff;
}

#scoreManageContent div.panel-footer{
	background-color: #fff;
}

#scoreSave{
	color: #fff;
	background-color: #f14b57;
	padding: 5px 30px ;
	font-size: 14px;
}

#authManageContent .label.label-auth{
	color: #1E9FFF;
	background-color:#fff;
	border:1px solid #1E9FFF;
}

#authManageContent table>tbody>tr>td>label.glyphicon{
	color: #1E9FFF;
}

#authManageContent span.layui-breadcrumb a.authLook,#authManageContent span.layui-breadcrumb a.authEdit{
	color: #1E9FFF !important ; 
}

#authManageContent span.layui-breadcrumb a.authDelete{
	color: #f14b57 !important;
}

#userAuthorityItems div.row{
	margin-top: 2em;
}

#userAuthorityItems div.row>div.col-md-1{
	text-align: right;
	padding-left: 0;
}
span.glyphicon.glyphicon-share-alt{
	transform: rotateY(180deg) ;
	-webkit-transform: rotateY(180deg) ;
}
#userAuthorityItems div.row>div.col-md-11{
	padding-left: 0;
}
/*
*多选框样式
*/
.layui-form-checked[lay-skin=primary] i{
	border-color: #f14b57 !important;
	background-color: #f14b57 !important;
	font-weight: bolder;
}
.layui-form-checkbox[lay-skin=primary]:hover i{
	border-color: #f14b57 !important;
}
/*
*单旋钮样式
*/
#userAuthorityItems .layui-form-radio>i:hover, .layui-form-radioed>i{
	color: #f14b57 !important;
}

#memberItems{
	background-color: #f5f5f5;
	padding: 1em;
}
/*
*权限选项样式
*/
div.row.auth-content{
	margin-top: 0 !important;
}

div.row.auth-content .auth-label{
	color:#999;
	font-size: 15px;
}

div.row.auth-content .auth-all{
	text-align: right;
}

.layui-form-checkbox[lay-skin=primary] span{
	font-size: 15px;
}
.checkbox-lists div.col-md-6.checkbox-label{
	font-size: 15px;
}
.checkbox-lists .checkbox-all{
	text-align: right;
}

.checkbox-lists div.row.checkbox-items div.col-md-4.checkbox-item{
	border: 1px solid #f5f5f5 !important;
	padding: 1em 4em !important;
}

.checkbox-lists div.row.checkbox-items div.col-md-4.checkbox-item li+li{
	margin-top: 0.5em ;
}

.checkbox-lists div.row.checkbox-items{
	display: -webkit-box;
	margin-top: 0.5em !important;
	padding-left: 15px;
	padding-right: 15px;
}



